.header {
	color: white;
}

.head {
	text-align: center;
	background-image: url("Images/header1.gif");
	background-size: contain;
	/*background-repeat: no-repeat;*/
}

body {
	background-color: rgb(44, 44, 45);
}