.header {
	text-align: center;
	background-image: url("css/Images/header_photo");
	background-size: cover;
	background-position: center;
	position: relative;
	color: white;
}

.navbar.link {
	justify-content: center;
}